<!DOCTYPE html>
<html lang="en" ng-app="data-picker-tutorial">
<head>
	<title>Picker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
-->
<!-- local -->
	<script src="http://localhost/docs/angularjs/1.0.8/angular.js"></script>
	<link rel="stylesheet" href="../../../../bootstrap/3.0.2/css/bootstrap.min.css">
<!-- local -->

	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>
</head>
<body style="padding: 1em;" ng-controller="PeopleCtrl">
<h1>People</h1>

<form ng-submit="addPerson()" class="form col-xs-6" role="form">
<fieldset>
	<legend>{{LABEL['formTitle.'+formMode]}}</legend>
	<div class="form-group">
		<label class="control-label" for="personName">Name</label>
		<input type=text" class="form-control" id="personName" placeholder="Enter name"
			ng-model="person.name">
	</div>
	<div class="form-group">
        <label for="workAddress">Company</label>
		<tutorial-datapicker id="workAddress"
			bind-obj="person"
			bind-prop="workAddress"></tutorial-datapicker>
    </div>
    <div class="form-group">
        <label for="tel">Tel</label>
        <input type=text" class="form-control" id="tel"
             placeholder="+44 123 456 789"
             ng-model="person.tel">
    </div>
    <div class="form-group">
        <label for="mail">E-mail</label>
        <input type=text" class="form-control" id="mail"
             placeholder="bertrand@studio.com"
             ng-model="person.mail">
    </div>
	<button type="submit" class="btn btn-primary">{{LABEL['submitButton.'+ formMode]}}</button>
</fieldset>
</form>

<div class="col-xs-6">
<fieldset>
	<legend>Already registered</legend>
	<ul>
		<li ng-repeat="p in people">
			{{p.name}}
			<span ng-show="p.workAddress">at {{p.workAddress.displayName}}</span>
			<a ng-click="editById(p.id)" href="#">edit</a>
		</li>
	</ul>
</fieldset>
</div>

</body>
</html>
