<div class="input-group">
    <input type="text" placeholder="Search by name" class="form-control"
        ng-model="searchText">
    <span class="input-group-btn">
        <button type="button" class="btn"
                ng-click="searchFn()"
            >Search</button>
    </span>
</div>

<div class="panel"
     style="margin-top: 1em;"
     ng-show="searchResults && searchResults.length > 0">
    <div class="panel-heading">Select one of the results ...</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in searchResults">
                <td><a href="#" ng-click="selectFn(o.dn)">{{o.displayName}}</a></td>
                <td>{{o.postalAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="input-group" ng-show="selection">
    <input type="text" class="form-control" readonly="readonly"
            value="{{bindObj[bindProp].displayName}}">
    <span class="input-group-btn">
        <button type="button" class="btn btn-default"
            ng-click="unselectFn()">&times;</button>
    </span>
</div>
