<div>
<small>
selection: {{selection}}
|
assigned value: {{bindObj[bindProp]}}
</small>
</div>
<div class="form-group" ng-show="! selection">
	<input type="text" placeholder="Search by name" class="input-xlarge"
		ng-model="searchText">
	<button type="button" class="btn" ng-click="searchFn()"
		>Search</button>

	<table class="table table-condensed table-bordered" style="width: auto;"
			ng-show="searchResults.length > 0">
		<caption>Search results: select one of the results ...</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="o in searchResults">
				<td><a href="#" ng-click="selectFn(o.dn)">{{o.displayName}}</a></td>
				<td>{{o.postalAddress}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="form-group" ng-show="selection">
<div>
	<span class="input-lg uneditable-input">
		{{bindObj[bindProp].displayName}}
	</span>
  	<button type="button" class="btn" ng-click="unselectFn()">&times;</button>
</div>

</div>
